/target/
/xi-frontend/tree-sitter-aplite/src/
/xi-frontend/tree-sitter-aplite/index.js
/xi-frontend/tree-sitter-aplite/node_modules
/xi-frontend/tree-sitter-aplite/binding.gyp
/xi-frontend/tree-sitter-aplite/build
/deno-fork
/.github/workflows/test.yml
__pycache__
*.pyc
